h1{
	color:#4d4d4d;
	background-color:#d9d9d9;
	padding: 10px;}
p{
	color:white;
	font-weight:bold;
	margin-top: 0px;
	margin-bottom: 0px}
.fourteen{background-color: #1a75ff}
.thirteen{background-color: #3385ff}
.twelve{background-color: #4d94ff}
.eleven{background-color: #66a3ff}
.ten{background-color: #80b3ff}
.nine{background-color: #99c2ff}
.eight{background-color: #b3d1ff}

.seven{background-color:  #99ffdd}

.six{background-color: #ffcce6}
.five{background-color: #ffb3d9}
.four{background-color: #ff99cc}
.three{background-color: #ff80bf}
.two{background-color: #ff66b3}
.one{background-color: #ff4da6}
.zero{background-color:  #ff3399}